@for $i from 1 through 4{
    .about__img{
        .about_img_#{$i}{
            background-image: url(../../../media/img/gato#{$i}.jpeg);
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            }
    }
}